{
  "api_user": "--your-user-name--",
  "api_key": "--your-api-key--",
  "subject": "Hello from Sendgrid",
  "from": {
    "name": "Test User",
    "email": "test@example.com"
  },
  "category": "test-run",
  "substitutionWrappers": ["{{", "}}"]
}
